<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt"
	  throwOnConfigException="true"
	  >

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target name="debugger" xsi:type="Debugger" layout="${logger:shortName=true}: ${message}"/>

		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->
		<target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<target xsi:type="ColoredConsole" name ="cc" 
				layout="${time} ${level:uppercase=true:padding=-5} [${logger:shortName=false}] ${message:truncate=6000} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=\r\n}${newline}" />
	</targets>


	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.*"  finalminlevel="Info" />
		<logger name="System.*"  finalminlevel="Info" />

		<logger name="*"  minlevel="Trace" writeTo="cc,ownFile-web,debugger" />
	</rules>
</nlog>