@{
    ViewBag.Title = "Edi Energy Viewer by Fabse.net";
}

@section scripts
{
    <script src="~/Scripts/underscore.js"></script> 
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ngStorage.js"></script> 
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/BL/EdiDocument.js"></script>
    <script src="~/Scripts/BL/EdiEnergyViewer.js"></script>
}
<div ng-app="ediEnergyViewer" ng-controller="ediDocumentController as ediDocumentCtrl">
    <h1>Edi Dokumente</h1>
    <div class="row">
        <div class="col-lg-12">
            <h2>Nachrichtentyp:</h2>
            <div>
                <label class="btn btn-primary" ng-class="ediDocumentCtrl.storage.messageTypeFilter=='ALL' ? 'active' : ''">
                    <input type="radio" class="hidden" name="messageTypeFilter" autocomplete="off" ng-model="ediDocumentCtrl.storage.messageTypeFilter" ng-value="'ALL'"> Alle
                </label>
                <div class="btn-group">
                    <label class="btn btn-default" ng-repeat="messageType in ediDocumentCtrl.messageTypes" ng-class="ediDocumentCtrl.storage.messageTypeFilter==messageType ? 'active' : ''">
                        <input type="radio" class="hidden" name="messageTypeFilter" autocomplete="off" ng-model="ediDocumentCtrl.storage.messageTypeFilter" ng-value="messageType"> {{messageType}}
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h2>Gültigkeitszeitraum:</h2>
            <div>
                <label class="btn btn-primary" ng-class="ediDocumentCtrl.storage.validityFilter=='ALL' ? 'active' : ''">
                    <input type="radio" class="hidden" name="validityFilter" autocomplete="off" ng-model="ediDocumentCtrl.storage.validityFilter" ng-value="'ALL'"> Alle
                </label>
                <div class="btn-group">
                    <label class="btn btn-default" ng-repeat="validity in ediDocumentCtrl.validitys" ng-class="ediDocumentCtrl.storage.validityFilter==validity ? 'active' : ''">
                        <input type="radio" class="hidden" name="validityFilter" autocomplete="off" ng-model="ediDocumentCtrl.storage.validityFilter" ng-value="validity"> {{validity}}
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h2>Dokumenttyp:</h2>
            <div>
                <label class="btn btn-primary" ng-class="ediDocumentCtrl.storage.documentTypeFilter=='ALL' ? 'active' : ''">
                    <input type="radio" class="hidden" name="documentTypeFilter" autocomplete="off" ng-model="ediDocumentCtrl.storage.documentTypeFilter" ng-value="'ALL'"> Alle
                </label>
                <div class="btn-group">
                    <label class="btn btn-default" ng-repeat="documentType in ediDocumentCtrl.documentTypes" ng-class="ediDocumentCtrl.storage.documentTypeFilter==documentType ? 'active' : ''">
                        <input type="radio" class="hidden" name="documentTypeFilter" autocomplete="off" ng-model="ediDocumentCtrl.storage.documentTypeFilter" ng-value="documentType"> {{documentType}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" ng-show="(ediDocumentCtrl.ediDocuments | filter : ediDocumentCtrl.messageDocumentFilter).length >0">
            <h2>Edi Nachrichtentyp Dokumente</h2>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Nachrichtentyp</th>
                    <th>Version</th>
                    <th>Typ</th>
                    <th>Verröffentlicht am</th>
                    <th>PDF</th>
                    <th ng-show="ShowRaw">RAW</th>
                </tr>
                </thead>
                <tr ng-repeat="ediDocument in ediDocumentCtrl.ediDocuments | filter : ediDocumentCtrl.messageDocumentFilter">
                    <td>{{ediDocument.ContainedMessageTypes.join(', ')}}</td>
                    <td>{{ediDocument.MessageTypeVersion}}</td>
                    <td>{{ediDocument.IsAhb? (ediDocument.BdewProcess===null?"AHB" : ediDocument.BdewProcess):"MIG"}}</td>
                    <td>{{ediDocument.DocumentDate | date : 'dd.MM.yyyy'}}</td>
                    <td>
                        <a href="{{ediDocument.DocumentUri}}" target="_blank">edi-energy.de</a>
                        @*<br/>
                        <a href="#" target="_blank">Mirror</a>*@
                    </td>
                    <td ng-show="ShowRaw"><pre>{{ediDocument}}</pre></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-12" ng-show="(ediDocumentCtrl.ediDocuments | filter : ediDocumentCtrl.generalDocumentFilter).length >0">
            <h2>Allgemeine Dokumente</h2>
            <table>
                <thead>
                <tr>
                    <th>Nachrichtentyp</th>
                    <th>Version</th>
                    <th>Verröffentlicht am</th>
                    <th></th>
                </tr>
                </thead>
                <tr ng-repeat="ediDocument in ediDocumentCtrl.ediDocuments | filter : ediDocumentCtrl.generalDocumentFilter">
                    <td>{{ediDocument.DocumentName}}</td>
                    <td>{{ediDocument.DocumentDate}}</td>
                    <td>.</td>
                    <td>{{ediDocument}}</td>
                </tr>
            </table>
        </div>
    </div>
    <a href="#" ng-click="ShowRaw = !ShowRaw" ng-hide="ShowRaw">Display RAW document data</a>
</div>
